{% extends "base.html" %}
{% block content %}
  <div class="container" style="margin-bottom: 30px">
  <h2>
    ToDo List
    <small class="text-muted"><a href="{{ url_for('create_todo') }}">Add One</a></small>
  </h2>
  {% if todos %}
    <div class="accordion" id="todoAccordion">
      {% for todo in todos %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading{{ todo.id }}">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse{{ todo.id }}"
                    aria-expanded="false" aria-controls="collapse{{ todo.id }}">
              {{ todo.title }}
            </button>
          </h2>
          <div id="collapse{{ todo.id }}" class="accordion-collapse collapse"
               aria-labelledby="heading{{ todo.id }}"
               data-bs-parent="#todoAccordion">
            <div class="accordion-body">
              {{ todo.details }}
              <form id="delete-{{ todo.id }}" method="post" action="{{ url_for('delete_todo') }}">
                <input type="hidden" name="todo_id" value="{{ todo.id }}">
                <button class="btn btn-success" type="submit">Complete</button>
              </form>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
      <p>
        Your ToDo List is currently empty! Woohoo!
      </p>
  {% endif %}
  </div>
{% endblock %}